<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/fragment :: head">
    <meta charset="UTF-8">
    <title>Ejercicio 2</title>
</head>
<body>
    <nav th:replace="fragment/fragment :: menu"></nav>

    <div class="container mt-5">
        <div class="d-flex justify-content-center align-item-center">
            <div class="card col-md-4">
                <div class="card-header bg-dark text-white">
                    Ejercicio 2
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ejercicio 2</h5>
                    <form th:action="@{/ejercicio2}" th:object="${ejercicio2}" method="post">
                        <div class="mb-3">
                            <label class="form-label">Año</label>
                            <input th:field="*{anio}" type="text" name="anio" class="form-control">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-outline-primary">Consultar</button>
                        </div>
                    </form>
                    <div class="alert alert-primary" th:if="${anio != null}">
                        <p th:text="${anio}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>